{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% block styles %}
     <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
     <style type="text/css">
     /* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }



      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      #wrap > .container {
        padding-top: 60px;
      }
      .container .credit {
        margin: 20px 0;
      }

      code {
        font-size: 80%;
      }
     </style>
{% endblock %}
{% block head %}
    {{super()}}
    {{fixes.ie8()}}
{% endblock %}

{% block body %}
<!--div class="container"-->
    <div class="container"> 
        <h1>Welcome to Kevince's Blog</h1> 
    </div>
    <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"><strong>KevBlog</strong></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Articles</a></li>
            <li><a href="/tags">Tags</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <form action="##" method="post" class="navbar-form navbar-right" rol="search">
            <div class="form-group">
                <input type="text" class="form-control" name="search" placeholder="Key words" />
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
    </div>
    </div>
    
    <div class="container">
    {% block content %}
    {%- endblock content %}
    </div>
<div id="footer">
    <div class="container">
        <p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
    </div>
</div>
<!--/div-->
{% endblock %}

{% macro tagbutton(tag, tagsize="btn-xs", tagtype="btn-primary") %}
    <a href="/tag/{{tag.id}}" class="btn {{tagsize}} {{tagtype}}">{{tag.name}}</a>
{% endmacro %}

{% macro show_article(entry) %}
<div class="panel panel-info">
    <div class="panel-heading"><a href="/article/{{entry.id}}"><h3><strong>{{entry.title}}</strong></h3></a></div>
    <div class="panel-body">
        <p>{{entry.summary}}</p>
    </div>
    <div class="panel-footer">
    {% if entry.tags %}
        <p>
            {% for tag in entry.tags %}
                {{tagbutton(tag)}}
            {% endfor %}
        </p>
    {% endif %}
    <p>Published on <em><strong>{{format_date(entry.pubTime)}}</strong></em></p>
    </div>
</div>
{%- endmacro %}
