{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% block styles %}
     <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
     <style type="text/css">
       html, body{height:100%;}
       .wrapper{
       min-height:100%;
       _height:100%;
       margin-bottom:-120px;   /*假定页脚的高度为120px*/
      }
      .footer, .footer_placeholder{height:120px;}
     </style>
{% endblock %}
{% block head %}
    {{super()}}
    {{fixes.ie8()}}
{% endblock %}

{% block body %}
<div class="wrapper">
<!--div class="container"-->
    <div class="container"> 
        <h1>Welcome to Kevince's Blog</h1> 
    </div>
    <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"><strong>KevBlog</strong></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Articles</a></li>
            <li><a href="/tags">Tags</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <form action="##" method="post" class="navbar-form navbar-right" rol="search">
            <div class="form-group">
                <input type="text" class="form-control" name="search" placeholder="Key words" />
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
    </div>
    </div>
    
    <div class="container">
    {% block content %}
    {%- endblock content %}
    </div>
</div>
<div class="footer_placeholder"></div>
<div class="footer">
    {% block Footer %}
    {%- endblock Footer %}
    <div class="container" align="center">
        <p class="muted credit">&copy Copyright 2015. Kevince All Rights Reserved. <br /><strong>Kevince's Blog </strong>powered by <a href="https://github.com/prikevs/KevBlog/">KevBlog &bull; Github </a></p>
    </div>
</div>
<!--/div-->
{% endblock %}

{% macro tagbutton(tag, tagsize="btn-xs", tagtype="btn-primary") %}
    <a href="/tag/{{tag.id}}" class="btn {{tagsize}} {{tagtype}}">{{tag.name}}</a>
{% endmacro %}

{% macro show_article(entry) %}
<div class="panel panel-info">
    <div class="panel-heading"><a href="/article/{{entry.id}}"><h3><strong>{{entry.title}}</strong></h3></a></div>
    <div class="panel-body">
        <p>{{entry.summary}}</p>
    </div>
    <div class="panel-footer">
    {% if entry.tags %}
        <p>
            {% for tag in entry.tags %}
                {{tagbutton(tag)}}
            {% endfor %}
        </p>
    {% endif %}
    <p>Published on <em><strong>{{format_date(entry.pubTime)}}</strong></em></p>
    </div>
</div>
{%- endmacro %}
