{% extends "_base.html" %}
{% from "bootstrap/pagination.html" import render_pagination %}
{% block title %}Kevince's Blog{% endblock %}

{% block content %}
    {% block Head %}
    {%- endblock Head %}
    <div class="row">
        <div class="col-md-8">
        {%- for entry in pagination.items %}
            <div class="row">
                <div class="col-md-10">
                    {{show_article(entry)}}
                </div>
            </div>
        {%- endfor%}
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-body">
                    {% block Right %}
                    <h2>About me</h2>
                    {% endblock Right%}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block Footer %}
    <div class="row">
    <div class="col-md-12 middle" align="center">
    {{render_pagination(pagination)}}
    </div>
    </div>
{% endblock %}
