{% extends "_base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}

    {{content|safe}}
    <div class="container">
    {% if tags %}
        <strong>Tags:</strong>
        {% for tag in tags %}
            {{tagbutton(tag)}}
        {% endfor %}
    {% endif %}
    </div>
{% if pubTime %}
    <div class="row">
        <div class="col-md-offset-6">
        <p>Written on <strong><em>{{format_date_weekday(pubTime)}}</em></strong>
        </div>
    </div>
{% endif %}

{% endblock %}
